.App {
  text-align: center;
  font-weight: bold;
  width: 100vw;
  height: 100vh;
  background-image: url(./assets/bank.png) ;
  background-size: 100%;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.label {
  display: block;
  font-size: larger;
  color: white;
  padding: 5px;
}

.input {
  font-size: larger;
  padding: 5px;
  margin: 2px;

}

.btn {
  color: white;
  background-color: red;
  border-radius: 5px;
  font-size: larger;
  display: block;
  padding: 5px;
  margin: 10px auto;
  align-items: center;
  flex-wrap: wrap;
}

.messages {
  display: flex;
  justify-content: center;
}

.error {
  display: block;
  background-color: red;
  color: white;
  width: fit-content;
  height: 50px;
  padding: 5px;
}

.success {
  display: block;
  background-color: lightblue;
  color: black;
  width: fit-content;
  height: 50px;
  padding: 5px;
}

